@font-face {
  font-family: "Theme Monospace";
  src: url("../fonts/CascadiaMono/variable/CascadiaMono.woff2") format("woff2 supports variations"),
        url("../fonts/CascadiaMono/variable/CascadiaMono.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Theme Monospace";
  src: url("../fonts/CascadiaMono/variable/CascadiaMonoItalic.woff2") format("woff2 supports variations"),
        url("../fonts/CascadiaMono/variable/CascadiaMonoItalic.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-style: italic;
}

@font-face {
  font-family: "Theme Sans";
  src: url("../fonts/Inter/variable/Inter-VariableFont_slnt_wght.ttf");
  font-weight: 100 1000;
  font-style: normal italic;
}

@font-face {
  font-family: "Theme Serif";
  src: url("../fonts/AndadaPro/AndadaPro-VariableFont_wght.ttf");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Theme Serif";
  src: url("../fonts/AndadaPro/AndadaPro-Italic-VariableFont_wght.ttf");
  font-weight: 100 1000;
  font-style: italic;
}